html,
body,
header,
.view {
    height: 100%;
}

.device:hover {
    cursor: pointer;
}

.laptop-icon {
    width: 100%;
    height: auto;
}

.map {
    height: 300px;
}

.testimonial {
    margin-right: 15%;
    margin-left: 15%;
}
